// For the problem of card's display, put a fixed width to the class "flip-card-inner", change the main height to a fixed height
// for example between 300 and 350 vh, put the  main in display flex, flex-direction : columnn and flex-wrap to wrap.

@media screen and (min-width : 451px) {
    body{
        background-color: lightblue;
        header{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            img{
                width: 15%;
                border-radius: 50%;
                margin: 10px;
            }
            h1{
                width: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            p{
                margin: 10px;
                width: 100%;
                text-align: center;
            }
    
            input{
                margin-top: 20px;
                width: 30%;
            }
        }
        main{
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            height: 275vh;
            .flip-card{
                margin-top: 0px;
                margin-bottom: 16px;
                perspective: 1000px;
                background-color: transparent;
                width: 19vw;
                //width: 100%; // If I change the width there and put it in "flip-card-inner" (in px ?) I can play with flex and grid freely
                // the height will be determinate by JS must be in pixel, if not problem with absolute position
                // flip is now handled by js
                .flip-card-inner{
                    transition: transform 0.6s;
                    transform-style: preserve-3d;
                    position: relative;
                    width: 100%;
                    .cardFront{
                        margin: 5px;
                        border: 1px solid gray;
                        -webkit-backface-visibility: hidden;
                        backface-visibility: hidden;
                        position: absolute;
                        .img{
                            display: flex;
                            justify-content: center;
                            img{
                                width: 95%;
                                padding: 2.5%;
                                background-color: rgb(175, 223, 252);
                            }
                        }
                        .content{
                            padding: 10px;
                            background-color: rgba(211, 211, 211, 0.641);
                            span{
                                &:nth-child(2){ // Be aware that even if we target "span" the argument of nth-child is the n-child of the father of span
                                    background-color: red;
                                    margin: 10px;
                                    margin-top: 20px;
                                }
                                &:nth-child(1){
                                    background-color: rgb(0, 255, 195);
                                    margin: 10px;
                                }
                            }
                        }
                    }
                    .cardBack{
                        margin: 5px;
                        border: 1px solid gray;
                        -webkit-backface-visibility: hidden;
                        backface-visibility: hidden;
                        transform: rotateY(180deg);
                        position: absolute;
                        .img{
                            display: flex;
                            justify-content: center;
                            img{
                                width: 95%;
                                padding: 2.5%;
                                background-color: lightskyblue;
                                visibility: hidden;
                            }
                        }
                    }
                }
            }
        }
    }

}