@media screen and (max-width : 450px) {
body{
    background-color: lightcoral;
    header{
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: wrap;
        img{
            width: 35%;
            border-radius: 50%;
            margin: 10px;
        }
        h1{
            width: 50%;
        }
        p{
            margin: 10px;
        }

        input{
            margin-top: 20px;
            width: 100%;
        }

    }
    main{
        .flip-card{
            margin-top: 40px;
            margin-bottom: 30px;
            perspective: 1000px;
            background-color: transparent;
            width: 100%;
            // the height will be determinate by JS must be in pixel, if not problem with absolute position
            &:hover{
                .flip-card-inner{
                    transform: rotateY(180deg);
                }
            }
            // &:active{
            //     .flip-card-inner{
            //         transform: rotateY(180deg);
            //     }
            // }
            .flip-card-inner{
                transition: transform 0.6s;
                transform-style: preserve-3d;
                position: relative;
                width: 100%;
                .cardFront{
                    margin: 5px;
                    border: 1px solid gray;
                    -webkit-backface-visibility: hidden;
                    backface-visibility: hidden;
                    position: absolute;
                    .img{
                        display: flex;
                        justify-content: center;
                        img{
                            width: 95%;
                            padding: 2.5%;
                            background-color: aqua;
                        }
                    }
                    .content{
                        padding: 10px;
                        background-color: yellow;
                        span{
                            &:nth-child(2){ // Be aware that even if we target "span" the argument of nth-child is the n-child of the father of span
                                background-color: red;
                                margin: 10px;
                                margin-top: 20px;
                            }
                            &:nth-child(3){
                                background-color: yellow;
                                margin: 10px;
                            }
                        }
                    }
                }
                .cardBack{
                    margin: 5px;
                    border: 1px solid gray;
                    -webkit-backface-visibility: hidden;
                    backface-visibility: hidden;
                    transform: rotateY(180deg);
                    position: absolute;
                    .img{
                        display: flex;
                        justify-content: center;
                        img{
                            width: 95%;
                            padding: 2.5%;
                            background-color: aqua;
                            visibility: hidden;
                        }
                    }
                }
            }
        }
    }
}
}
